export STARHUB_DATABASE_DSN=postgresql://postgres:sdfa23Sh!322@localhost:5433/starhub_server?sslmode=disable
export STARHUB_DATABASE_TIMEZONE=Asia/Shanghai
export STARHUB_SERVER_REDIS_ENDPOINT=localhost:6379
export STARHUB_SERVER_GITSERVER_TYPE=gitaly
export STARHUB_SERVER_GITALY_SERVER_SOCKET=tcp://localhost:8075
export STARHUB_SERVER_GITALY_STORGE=default
export STARHUB_SERVER_GITALY_TOKEN=abc123secret
export STARHUB_SERVER_SSH_DOMAIN=ssh://git@$localhost:2222
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=sdfa23Sh!322
export POSTGRES_DB=starhub_server
export GIN_MODE=release
export STARHUB_SERVER_API_TOKEN=c7ab4948c36d6ecdf35fd4582def759ddd820f8899f5ff365ce16d7185cb2f609f3052e15681e931897259872391cbf46d78f4e75763a0a0633ef52abcdc840c
export STARHUB_SERVER_S3_ACCESS_KEY_ID=admin
export STARHUB_SERVER_S3_ACCESS_KEY_SECRET=Password_123
export STARHUB_SERVER_S3_ENDPOINT=localhost:9000 # used to generate download links for lfs files
export STARHUB_SERVER_S3_BUCKET=opencsg-server-lfs
export STARHUB_SERVER_S3_REGION=cn-beijing
export STARHUB_SERVER_SPACE_BUILDER_ENDPOINT=http://localhost:8085
# export STARHUB_SERVER_SPACE_RUNNER_ENDPOINT=http://localhost:8082
export STARHUB_SERVER_PUBLIC_ROOT_DOMAIN="" # should be a domain name,such as=${SPACE_APP_EXTERNAL_DOMAIN}:${SERVER_PORT}
# export STARHUB_SERVER_INTERNAL_ROOT_DOMAIN=${SPACE_APP_NS}.${SPACE_APP_INTERNAL_DOMAIN}:${SPACE_APP_INTERNAL_DOMAIN_PORT} #space.lwf.internal:30446, only used for fetch namespace
export STARHUB_SERVER_MODEL_DOWNLOAD_ENDPOINT=http://localhost:80
export STARHUB_SERVER_SAAS=false
export STARHUB_SERVER_MIRRORSERVER_ENABLE=false
export STARHUB_SERVER_CASDOOR_CLIENT_ID=d554744494d93c21a6ab
export STARHUB_SERVER_CASDOOR_CLIENT_SECRET=2d942276879382c66363ef6303e0d66d37e5d98d
export STARHUB_SERVER_CASDOOR_ENDPOINT=http://localhost:31001
export STARHUB_SERVER_CASDOOR_CERTIFICATE=/starhub-bin/casdoor/token_jwt_key.pem
export STARHUB_SERVER_CASDOOR_ORGANIZATION_NAME=OpenCSG
export STARHUB_SERVER_CASDOOR_APPLICATION_NAME=CSGHub
export STARHUB_JWT_SIGNING_KEY=e2kk6awudc3620ed9a
export OPENCSG_ACCOUNTING_NATS_URL=nats://natsadmin:gALqqbP6SpftVdFzrU2URJ8k1G@localhost:4222
export OPENCSG_ACCOUNTING_SERVER_HOST=http://localhost
export OPENCSG_ACCOUNTING_SERVER_PORT=8086
export OPENCSG_USER_SERVER_HOST=http://localhost
export OPENCSG_USER_SERVER_PORT=8088
export STARHUB_SERVER_S3_ENABLE_SSL=false
export STARHUB_SERVER_PUBLIC_DOMAIN=http://localhost:80
export STARHUB_SERVER_MULTI_SYNC_ENABLED=false

export STARHUB_SERVER_SPACE_SESSION_SECRET_KEY=c8f771f2a178089b99172cbbd7e3b01d

